<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    
  <display-name>Archetype Created Web Application</display-name>
   	<servlet>
    	<servlet-name>TeachingServlet</servlet-name>
    	<servlet-class>teachingPackage.TeachingServlet</servlet-class>
	</servlet>

	<servlet-mapping>
    	<servlet-name>TeachingServlet</servlet-name>
    	<url-pattern>/addNewTeaching</url-pattern>
	</servlet-mapping>  
	
	<servlet>
    	<servlet-name>ResearchTeachingServlet</servlet-name>
    	<servlet-class>issue4.ResearchTeachingServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
    	<servlet-name>ResearchTeachingServlet</servlet-name>
    	<url-pattern>/searchTeaching</url-pattern>
	</servlet-mapping> 	
	
	<servlet>
    	<servlet-name>ListAndResearchServlet</servlet-name>
    	<servlet-class>issue4.ListAndResearchServlet</servlet-class>
	</servlet>

	<servlet-mapping>
    	<servlet-name>ListAndResearchServlet</servlet-name>
    	<url-pattern>/listandsearch</url-pattern>
	</servlet-mapping> 

	<servlet>
  		<servlet-name>ShowChargeTeacherServlet</servlet-name>
  		<servlet-class>issue1.ShowChargeTeacherServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>ShowChargeTeacherServlet</servlet-name>
  	<url-pattern>/ShowChargeTeacherServlet</url-pattern>
  </servlet-mapping>
  
</web-app>
