<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  	<display-name>Archetype Created Web Application</display-name>
  	
   	<servlet>
    	<servlet-name>ResearchTeachingServlet</servlet-name>
    	<servlet-class>teach_planning.teaching.ResearchTeachingServlet</servlet-class>
	</servlet>
	
	<servlet>
    	<servlet-name>ListAndResearchServlet</servlet-name>
    	<servlet-class>teach_planning.teaching.ListAndResearchServlet</servlet-class>
	</servlet>
	
	<servlet>
    	<servlet-name>TeachingServlet</servlet-name>
    	<servlet-class>teach_planning.teaching.TeachingServlet</servlet-class>
	</servlet>
	
	<servlet>
  		<servlet-name>ShowChargeTeacherServlet</servlet-name>
  		<servlet-class>teach_planning.teacher.ShowChargeTeacherServlet</servlet-class>
  	</servlet>
  	
  	<servlet>
    	<servlet-name>TeacherServlet</servlet-name>
    	<servlet-class>teach_planning.teacher.TeacherServlet</servlet-class>
	</servlet>
	
	<servlet>
    	<servlet-name>LoginServlet</servlet-name>
    	<servlet-class>teach_planning.login.LoginServlet</servlet-class>
	</servlet>
	
	<servlet>
    	<servlet-name>PreferenceServlet</servlet-name>
    	<servlet-class>teach_planning.teacher.PreferenceServlet</servlet-class>
	</servlet> 
	
	<servlet>
  		<servlet-name>ServiceFileServlet</servlet-name>
  		<servlet-class>teach_planning.teaching.ServiceFileServlet</servlet-class>
  	</servlet>
  	
  	<servlet>
  		<servlet-name>AssignmentServlet</servlet-name>
  		<servlet-class>teach_planning.teaching.AssignmentServlet</servlet-class>
  	</servlet>

  	<servlet-mapping>
    	<servlet-name>ResearchTeachingServlet</servlet-name>
    	<url-pattern>/searchTeaching</url-pattern>
	</servlet-mapping> 
  
	<servlet-mapping>
    	<servlet-name>ListAndResearchServlet</servlet-name>
    	<url-pattern>/listandsearch</url-pattern>
	</servlet-mapping>
  	
  	<servlet-mapping>
    	<servlet-name>TeachingServlet</servlet-name>
    	<url-pattern>/addNewTeaching</url-pattern>
	</servlet-mapping> 
	
  	<servlet-mapping>
  		<servlet-name>ShowChargeTeacherServlet</servlet-name>
  		<url-pattern>/chargeTeacher</url-pattern>
  	</servlet-mapping>  
  	
  	<servlet-mapping>
  		<servlet-name>TeacherServlet</servlet-name>
  		<url-pattern>/addNewTeacher</url-pattern>
  	</servlet-mapping>
  	
  	<servlet-mapping>
  		<servlet-name>LoginServlet</servlet-name>
  		<url-pattern>/connect</url-pattern>
  	</servlet-mapping>
  	
  	<servlet-mapping>
  		<servlet-name>LoginServlet</servlet-name>
  		<url-pattern>/disconnect</url-pattern>
  	</servlet-mapping>

  	<servlet-mapping>
    	<servlet-name>PreferenceServlet</servlet-name>
    	<url-pattern>/addPref</url-pattern>
	</servlet-mapping>
  	 
  	<servlet-mapping>
  		<servlet-name>ServiceFileServlet</servlet-name>
  		<url-pattern>/serviceFile</url-pattern>
  	</servlet-mapping>  	
  	
  	<servlet-mapping>
  		<servlet-name>AssignmentServlet</servlet-name>
  		<url-pattern>/assignment</url-pattern>
  	</servlet-mapping>  	 

</web-app>